@import "./components/helpers/variables";

//CONTROLLER BTN
@import "./components/helpers/btn";

.color_blue{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color:rgba(8, 54, 133, 0.42);
}

.site-header{
    
    .banner_content{
        color:white;
        position: relative;
        height: 767px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -5% center;
        display: flex;
        align-items: center;
        h1{
            font-family: $gothamedium;
            font-weight: normal;
            font-size: 40px;
        }
        sub{
            font-size: 16px;
            font-family: $gothamlight;
            margin-top: 30px;
            display: block;
        }
        .btn{
            margin-top: 40px;
        }
    }
}

section{
    position: relative;
    &#about{
        
        background: url('#{$url_path}img/bg_01.png') bottom;
        background-size:cover ;
        .filter{
            &_b{
                background: rgb(0,85,165);
                background: linear-gradient(90deg, rgba(0,85,165,0.7) 100%, rgba(0,212,255,0.5) 100%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .family{
            background: white url('#{$url_path}img/family.png') top center;
            position: absolute;
            width: 656px;
            height: 1015px;
            z-index: 1;
            left: -190px;
            overflow: hidden;
        }
        
        .circle_clear{
            background: url('#{$url_path}img/circle_light.png') top center;
            width: 347px;
            height: 360px;
            position: absolute;
            top: -234px;
            left: -240px;
        }
        .text{
            &_about{
            padding-top: 100px;
            }
            &_sec{
                color:white;
                margin:550px 0 0;
                h2{
                    color:white;
                    margin-bottom: 40px;
                    span{
                        font-family: $gothambold;
                    }
                }
                a{
                    margin:40px 0 0;
                }
            }
        }
        
        .img_pan{
            background: url('#{$url_path}img/pan.png') top center;
            width: 732px;
            height: 477px;
            position: absolute;
            right: -190px;
            top: -31px;
            overflow: hidden;
            
            .color_blue{
                top: 6px;
                background-color: rgba(8, 54, 133, 0.42);
            }
        }

        .quadra{
            background: url('#{$url_path}img/quadra.jpg') top center no-repeat;
            width: 638px;
            height: 572px;
            margin-top: 102px;
            margin-left: -140px;
        }
    }
} 