@import "medias";
@import "variables";

.btn-transparent {
    padding: 1em 2em;
    display: block;
    width: 50%;
    text-align: center;
    margin: 2% 0;
    border: 1px solid $color-theme-1;
    color: white;
    border-radius: .5em;
    font-weight: 300;
    transition: $transition-global;
    &:hover{
        background: $color-theme-1;
        font-weight: bold;
    }
}

.btn{
    font-size: 16px;
    font-family: $gothambold;
    text-align: center;
    display: inline-block;
    color:white;
    padding: 14px 28px;
    transition: all 0.2s ease-in;
    border-radius: 8px;
    &_border_g{
        border:1px solid $color-theme-1;
        &:hover{
            background:$color-theme-1;
            
        }
        &-full{
            background-color: $color-theme-1;
            border:1px solid $color-theme-1;
            color:$color-theme-3;
            padding:14px 38px;
            margin-top: 40px;
            &:hover{
                background-color: white;
                border:1px solid $color-theme-1;
            }
        }
    }
}