// font-family ↓
$gothambold: 'GothamBold' , sans-serif;
$gothamedium: 'GothamMedium', sans-serif;
$gothambook: 'Gotham-Book' , sans-serif;
$gothamlight: 'Gotham-Light', sans-serif;

// font-size: ↓
$size-default: 16px;
$size-big: 40px;

// color: $color-theme-1;
$color-theme-1: #63E97E;
$color-theme-2: #083685;
$color-theme-3: #312A2A;

// transition: $transition-global;
$transition-global: all .2s;


// Site path;
$url_path: "/csul-desenvolvimento-urbano/wp-content/themes/csul/config/";


