@import ".././components/helpers/variables";

* {
    margin: 0;
    padding: 0;
}

html{
    &.no-margin{
        margin: 0 !important;
    }
}

body{
    font-size: 14px;
    font-family: $gothamlight;
    color:$color-theme-3;
}

h1,h2,h3,h4,h5,h6, p, a, span, input, textarea,select{
    font-family: $gothambook;
}

h2{
    font-size: 40px;
    font-family: $gothambook;
    font-weight: normal;
    color:$color-theme-3;
}

.relative{
    position: relative;
    z-index: 9;
}

p{
    line-height: 28px;
    font-family: $gothamlight;
}

a{
    text-decoration: none;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}


@for $i from 1 through 10 {
    .margin-tb-#{$i}{
        margin: #{$i}% 0;
    }    
}

@for $i from 1 through 10 {
    .padding-tb-#{$i}{
        padding: #{$i}% 0;
    }    
}