@import "./helpers/medias";
@import "./helpers/variables";

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;

    .search{
        width: 5em;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10% 0 -11%;
        i{
            color:white;
            margin: 0 6% 0 -12%;
            transition: $transition-global;
            &:before{
                font-size: 1.25em;
                font-weight: bold;
            }

            &:hover{
                font-size: 1.45em;
            }
        }
    }

    ul{
        padding: 2em;
        width: 65vw;
        border-bottom: 1px solid white;
        &.menu{
            display: flex;
            list-style: none;
            li{
               a{
                margin: 0 1em;
                padding: 1em;
                transition: $transition-global;
                color:white;
                text-decoration: none;
                font-family: $gothamedium, sans-serif;
                font-size: $size-default;
                    &:hover{
                        color:$color-theme-1;
                        border-bottom:1px solid $color-theme-1;
                    }
               }
            }
        }
    }
}